In [4]:
import pandas as pd
import nltk
from nltk.corpus import state_union
from nltk.tokenize import PunktSentenceTokenizer
import spacy

from spacy import displacy
from collections import Counter
import en_core_web_sm
nlp = en_core_web_sm.load()


df = pd.read_csv('datasets/wiki_movie_plots_deduped.csv')

df.head()

,Release Year,Title,Origin/Ethnicity,Director,Cast,Genre,Wiki Page,Plot
0,1901,Kansas Saloon Smashers,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/Kansas_Saloon_Sm...,"A bartender is working at a saloon, serving dr..."
1,1901,Love by the Light of the Moon,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/Love_by_the_Ligh...,"The moon, painted with a smiling face hangs ov..."
2,1901,The Martyred Presidents,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/The_Martyred_Pre...,"The film, just over a minute long, is composed..."
3,1901,"Terrible Teddy, the Grizzly King",American,Unknown,NaN,unknown,"https://en.wikipedia.org/wiki/Terrible_Teddy,_...",Lasting just 61 seconds and consisting of two ...
4,1902,Jack and the Beanstalk,American,"George S. Fleming, Edwin S. Porter",NaN,unknown,https://en.wikipedia.org/wiki/Jack_and_the_Bea...,The earliest known adaptation of the classic f...

In [19]:
df_two_cols = df[['Title','Plot']]
df_two_cols['Title']

0                                   Kansas Saloon Smashers
1                            Love by the Light of the Moon
2                                  The Martyred Presidents
3                         Terrible Teddy, the Grizzly King
4                                   Jack and the Beanstalk
5                                      Alice in Wonderland
6                                  The Great Train Robbery
7                                          The Suburbanite
8                                 The Little Train Robbery
9                               The Night Before Christmas
10                                Dream of a Rarebit Fiend
11       From Leadville to Aspen: A Hold-Up in the Rockies
12                                     Kathleen Mavourneen
13                                            Daniel Boone
14                         How Brown Saw the Baseball Game
15                                            Laughing Gas
16                                The Adventures of Dollie
17                                         The Black Viper
18                                  A Calamitous Elopement
19                                    The Call of the Wild
20                                       A Christmas Carol
21                                   The Fight for Freedom
22                                            At the Altar
23                                A Drunkard's Reformation
24                                        The Golden Louis
25                                    The Lure of the Gown
26                                        An Arcadian Maid
27                                       A Christmas Carol
28                                            Frankenstein
29                             Hemlock Hoax, the Detective
                               ...
34856                             A Step into the Darkness
34857                                         How Are You?
34858                                         The Crossing
34859                            Five Minarets in New York
34860                                               Jackal
34861                                 Secret of the Sultan
34862                                         Other Angels
34863                                            Hayde Bre
34864                                       Eyyvah Eyvah 2
34865                                             Free Man
34866                                                Paper
34867                                            Scapegoat
34868                              Love Likes Coincidences
34869                                       Signora Enrica
34870                                                Press
34871                                       Merry-Go-Round
34872                                               Zephyr
34873                                           Toll Booth
34874                                        White as Snow
34875                         Once Upon a Time in Anatolia
34876                                                Selam
34877                                      Particle (film)
34878                                     Mandıra Filozofu
34879                                         Winter Sleep
34880                                                Sivas
34881                                    The Water Diviner
34882                                   Çalgı Çengi İkimiz
34883                                         Olanlar Oldu
34884                                     Non-Transferable
34885                                   İstanbul Kırmızısı
Name: Title, Length: 34886, dtype: object

In [ ]:
def preprocess(sent):
    sent = nltk.word_tokenize(sent)
    sent = nltk.pos_tag(sent)
    return sent


#preprocess(df['Plot'][0])
#ne_tree = nltk.ne_chunk(nltk.pos_tag(nltk.word_tokenize(df['Plot'][0])))
# ne_tree = nltk.ne_chunk(nltk.pos_tag(nltk.word_tokenize('New York City is the best in the world because Hip-Hop was born there with GrandMaster Flash.')))
# ne_tree

import pprint
pp = pprint.PrettyPrinter(indent=4)

#half_df = df.iloc[0:int(len(df)/2)]
#half_df.tail()
#text = " ".join(plot for plot in half_df['Plot'])

cnt_entities = Counter()

for plot in df['Plot']:
    doc = nlp(plot)
    current_entities = [(X.text, X.label_) for X in doc.ents]
    
    # iterate over the entities, and add it to the counter as a tuple with index "name of entity"
    for entity in current_entities:
        cnt_entities[entity] += 1

cnt_entities

In [10]:
import re

words = re.findall(r'\w+', text.lower())
cnt_words = Counter(words)

[('the', 759141),
 ('to', 493654),
 ('and', 457932),
 ('a', 361318),
 ('of', 237569),
 ('is', 220559),
 ('in', 216284),
 ('his', 204670),
 ('he', 184498),
 ('s', 167169)]

In [17]:
doc = nlp(cnt_words.most_common(10)[0][0])

words = " ".join(plot for plot in df['Plot'])

doc = nlp('New York City')
pp.pprint([(X.text, X.label_) for X in doc.ents])

[('New York City', 'GPE')]